<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

- List popular languages for Data Science
- List of Commonly used libraries in Data Science
- List of Data Science Tools
- Some arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Seaborn
4. ggplot2
5. dplyr

|Data Science Tools|
|------------------|
|Hadoop|
|KNIME|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:-
Subhajit Datta